.bookmark-section{
   padding-top: 15%;
   padding-left: 1rem;
}


@media screen and (min-width:700px) {

    .bookmark-section{
    padding-top: 10%;
}
}

@media screen and (min-width:900px) {

    .bookmark-section{
    padding-top: 6%;
}
}