.primary-cta{
    background-color: #FF004D;
    color: #DBD8E3;
    font-weight:bolder ;

}

.secondary-cta{
    background-color: palegreen;
}

#cta{
    text-align: center;
    width: 100%;
    border-style: none;
    padding: 0.3em;
    font-size: 1rem;
}

button {margin-bottom: 5px;}

