
.hero-icon{
    color:#FF004D;  
}

.landing-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.landing-section > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}


