.landing-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* margin:1rem 0px 1rem 0px  */
}

.landing-section > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}


strong{
    margin-top: 5px;
}