.analytics-div{
    display: flex;
    align-items: center;
}

.analytics-div > div > p{
    margin-left:15px;
}

.analytics-div > div{
    margin-right:2rem
}

.style-analytics-icon{
    
    fill: #F73D93;
}